@import "css/bootstrap.min.css";
@import "css/animate.css";
@import "css/style.css";
@import "font-awesome/css/font-awesome.css";
@import "css/plugins/fontawesome/5.15.1/css/all.min.css";
@import "css/chartist.min.css";
@import "css/jquery.steps.css";
@import "rsuite/dist/rsuite.css";
blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
