<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='example.css') }}">
    </head>

    <div class="container">
     <img src="data:image/jpeg;base64,{{ chart}}" alt=""> 
    </div>

</html>