<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='example.css') }}">
    </head>
<a href="https://bit.ly/3slPB3c">
    <div class="meme">
        <p class="top">{{top}}</p>
        <p class="bottom">{{bottom}}</p>
    </div>
</a>
</html>